.fonctionnement {
    &-container {
      width: 90%; 
      max-width: 375px; 
      height: auto; 
      margin: 0 auto; 
      text-align: left;
      position: relative;
      margin-top: 100px;
      margin-bottom: 70px;
      
      
      @include desktop {
        display: flex;
      flex-direction: row;
      justify-content: space-between; 
      max-width: 1200px;
      width: 100%;
      margin: 100px auto 20px;
      }
    }
    
    &-title {
      position: absolute;
      top: -75px;
      left: 5px;
      transform: translateY(20px);
    }
  }
  
  .icon {
    font-size: 20px;
    margin-left: 25px;
    color: gray;
    
    &-1 {
      margin-right: 32px;
    }
    
    &-2 {
      margin-right: 27px;
    }
    
    &-3 {
      color: $loader-border;
      margin-right: 25px;
    }
    
    &-restaurant {
      margin-right: 10px; 
    }
    
    &-partenaire {
      margin-right: 4px; 
    }
  }
  
  .step:last-child .icon {
    color: $loader-border;
  }