header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 63px; 
  }
  
  .logo {
    &-container {
      @include flex-center;
    }
    width: 197px;
    height: 36px;
  }