* {
  font-family: $font-family-primary;
}

:root {
  --main-color: #{$main-color};
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  max-width: 1440px;    
  margin: 0 auto;      
  width: 100%;
  
}

#home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  
  &:active {
    opacity: 0;
  }
}

.main-container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
}