$font-family-base: 'Roboto', sans-serif;
$main-color: #E5E5E5;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: rgba(153, 226, 208, 1);
$bg-light: rgba(246, 246, 246, 1);
$bg-dark: rgba(53, 53, 53, 1);
$bg-search: rgba(234, 234, 234, 1);
$loader-bg: #282c34;
$loader-border: #9063cd;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-color-strong: rgba(0, 0, 0, 0.25);
$text-color: rgba(53, 53, 53, 1);
$badge-text: rgba(0, 135, 102, 1);

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;